@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'e-Ukraine';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url('/fonts/e-Ukraine-Light.woff2') format('woff2');
	}

	@font-face {
		font-family: 'e-Ukraine';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/e-Ukraine-Regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'e-Ukraine';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/e-Ukraine-Medium.woff2') format('woff2');
	}

	@font-face {
		font-family: 'e-UkraineHead';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url('/fonts/e-UkraineHead-Light.woff2') format('woff2');
	}

	@font-face {
		font-family: 'e-UkraineHead';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/e-UkraineHead-Regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'e-UkraineHead';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/e-UkraineHead-Medium.woff2') format('woff2');
	}

	* {
		box-sizing: border-box;
	}

	html {
		@apply font-eukraine font-light scroll-smooth;
	}

  body {
    @apply scroll-smooth;
  }

	section {
		@apply min-h-screen p-8 pt-12 relative;
	}
}

@layer components {
	.section-container {
		@apply max-w-[68rem] mx-auto h-full w-full;
	}
}
